body {
  font-family: "Segoe UI", sans-serif;
  max-width: 500px;
  margin: 50px auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1 {
  color: #333;
  text-align: center;
}

div {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(183, 0, 80);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(73, 42, 52);
}

#result {
  margin-top: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #333;
  text-align: left;
  white-space: pre-line;
}
